*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    text-align: center;
}
.hide{
    display: none;
}
#newgame{
   background-color: green; 
   color: white;
   font-style: italic;
   padding: 0.5rem;
   font-size: 1.25rem;
   border: none;
   border-radius: 5px;
}
.container{
    width: 100vh;
    height: 100vh;
    margin:30vmin auto;
}
.heading{
    margin-bottom: 7vmin;
}
#reset{
    background-color: green; 
   color: white;
   font-style: italic;
   padding: 0.5rem;
   font-size: 1.25rem;
   border: none;
   border-radius: 5px;
   margin-top: 1em;
}
.msgcontainer{
    margin-top: 5vmin;
    font-size: 3em;
    gap: 2rem;
}
.game{
    width: 78vh;
    height: 78vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    background-color: black;
}
.box{
    width: 25vmin;
    height: 25vmin;
    background-color: white;
    margin: 2px;
    color: black;
    font-size: 4rem;
}